.record{
    border-radius: 8px;
    padding: 16px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorPrimaryLight);
    box-shadow: 2px 2px 4px -1px var(--colorPrimaryDark);
    margin-bottom: 12px;
}
.record h4{
    flex-basis: 30%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
}
.record i{
    flex-basis: 10%;
    flex-grow: 0;
}

@media only screen and (min-width:768px) {
    .user i{
        flex-basis: 5%;
    }

}